:root {
    /* font-family: comic, sans-serif; */
    font-size: 2rem;
    text-align: center;
    color: aliceblue;
    --dark-blue: rgb(0, 36, 136);
    --player-active-color: midnightblue;
    /* --main-bg-color:  */
}

body {
    background-color: lightsalmon;
}

nav {
    margin: 20px;
    display: flex;
    justify-content: center;
    column-gap: 5vw;
}

fieldset {
    border: 2px solid black;
    border-radius: 10px;
    background-color: steelblue;
}

fieldset.active {
    background-color: var(--player-active-color);
    box-shadow: 5px 5px orangered;
}

fieldset.active > legend {
    background-color: var(--player-active-color);
}

legend {
    padding: .2rem .8rem;
    border-radius: 50%;
    border-top: 2px solid black;
    background-color: steelblue;
    ;
}

input {
    font-size: 1.2rem;
    border-radius: 3px;
    background-color: aquamarine;
    width: 20vw;
}

input:focus {
    background-color: rgb(90, 234, 186);
}

button#start {
    border-radius: 50%;
    background-color: var(--dark-blue);
    color: aliceblue;
    cursor: pointer;
    font-size: 1rem;
    padding: .5rem;
}

button#start:hover {
    background-color: aqua;
    color: var(--dark-blue);
}

p {
    margin: 0 auto .2rem;

}

#gameboard {
    height: 60vh;
    width: 60vh;
    margin: 2rem auto;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    gap: 2px;
    background-color: black;
    border: 5px solid var(--dark-blue);
    border-radius: 5px;
}

#gameboard .field {
    border: none;
    background-color: aqua;
    font-size: 3rem;
}
#gameboard .field:disabled {
    background-color: rgb(147, 255, 255);
}